body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}
main {background-color: #e9edee;
        padding: 15px;

}


.text-center {
    text-align: center;
    width:100%;
}

.backtop_bottom {
    background-color:#222f3f;
}

footer a:link,a:visited {
    text-decoration: underline;
    color: #f5fbfc;
    background-color: transparent;
    font-size: small;
    color: white;

}

footer div{
    text-align: center;
    padding: 15px;
    ;
}

.menu{
    background-color: #364759;
    font-size: 0.6rem ;
    color: white;
   text-align: center;
    padding: 0.5em;
   
}

header p a { margin-right: 1em;}

.div1 {
    text-align: center ;
    background-image: url('../images/bg-image.png');
    height:100px;
    margin-top: 15px;
    line-height: 3;
    
}

main a:link,a:visited {
    text-decoration: none;
    color: #0b5668;
    background-color: transparent;
    font-size: small;

}

.colortitle{background-color: #ffffff;
            color: #222f3f;
            font-size:small ;
            font-weight: bold;
            margin-bottom: 0;
            padding-top: 10px;
            text-align: left;
            

}
.imgbottom {
    text-align: center;
}

main div img {border-radius: 20px;}

.imgbody{
    
    background-color: #ffffff;
padding: 15px;
display: flex;
justify-content:space-between;

}

.p1{
    font-size: 0.7em;
}

.bg-dark{
    color:#eaeded;
    background-color: #222f3e;
    padding:0%;
    margin: 0%;
    border:0;
}

.bg-yellow{
    color:#eaeded;
    background-color: #f56600;
    padding:0%;
    margin: 0%;
    border:0;
}

.py-1{
    font-size:small;
    padding: 1rem 0;
    padding:0%;
    margin: 0%;
    border:0;
}


/*


<div class="bg-dark text-center py-1">
<span> Back to top</span>
</div> */