html {
    scroll-behavior: smooth;
  }

body{
    font-family:Arial, Helvetica, sans-serif;
    color: white;

}
main {background-color: #e9edee;
        padding: 15px;

}
header div {text-align: left;}

header div img { 
    width: 150px; height: 50px;
}

.text-center {
    text-align: center;
    width:100%;
}

.backtop_bottom {
    background-color:#222f3f;
    
}

.barra_bottom {
    background-color: #364759;
    text-align: center;
    text-decoration: underline;
    color: #f5fbfc;
}



footer img {
    width: 150px;
    height: 50px
}
footer div{
    text-align: center;
    padding: 15px;
    ;
}


.menu{
    background-color: #364759;
    font-size: 0.6rem ;
    color: white;
    text-align:left;
    padding: 0.5em;

}

header p a { margin-right: 1em;}

.div1 {
    text-align: center ;
    background-image: url('../images/bg-image.png');
    height:100px;
    margin-top: 15px;
    line-height: 3;
    
}

main a:link,a:visited {
    text-decoration: none;
    color: #0b5668;
    background-color: transparent;
    font-size: small;

}
footer a:link,a:visited {
    text-decoration: none;
    color: #e9edee;
    background-color: transparent;
    font-size: small;

}
.colortitle{background-color: #ffffff;
            color: #222f3f;
            font-size:small ;
            font-weight: bold;
            margin-bottom: 0;
            padding-top: 10px;
            text-align: left;
            

}
.imgbottom1 {
    text-align: center;
    
    border:15px;
    padding:15px;
    
    
}
main div p img {width: 100%;
                height: 100% ;
                
                }

.imgbottom2 {
    text-align: center;

    border:15px;
    padding:15px;
    
}


main div img {border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 1em;
    border-radius: 16px;
    box-shadow: 10px 10px 40px 0px rgba(7, 5, 20, 0.4);
    object-fit: cover;            
    }

.imgbody{
    width: 400px;
    height: 400px ;
    background-color: #ffffff;
padding: 15px;

display: flex;
justify-content:space-between

}

.p1{
    font-size: 0.7em;
}

.bg-dark{
    color:#eaeded;
    background-color: #222f3e;
    padding:0%;
    margin: 0%;
    border:0;
}

.bg-yellow{
    color:#eaeded;
    background-color: #f56600;
    padding:0%;
    margin: 0%;
    border:0;
}

.py-1{
    font-size:small;
    padding: 1rem 0;
    padding:0%;
    margin: 0%;
    border:0;
}


