<div class="badge-log d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="heading">
      <section class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </section>
      <h1 class="mb-4">Eccoti nella nostra HomePage </h1>
      <button routerLink="/movies" class="mb-4 ">
        <a>Vai al catalogo Film </a>
    </button>
      <section class="dots-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </section>
    </div>

  </div>
  </div>
