<header class="d-flex sticky-top bg-warning-subtle flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

    <h1>TO DO LIST</h1>
  </a>
  <i class="bi bi-pencil"></i>

  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="/" class="nav-link fs-5" aria-current="page">Home</a></li>
    <li class="nav-item"><a routerLink="/completed" class="nav-link fs-5">Task completati</a></li>
    <li class="nav-item"><a routerLink="/uncompleted" class="nav-link fs-5">Task non completati</a></li>
    <li class="nav-item"><a routerLink="/taskUser" class="nav-link fs-5">Task per ogni User</a></li>
  </ul>
</header>
