<div class="container-fluid text-center">
  <div class="p-5 bg-primary text-white rounded">
    <h1>Concessionaria Epicode Company</h1>
  </div>
  <div class="bg-warning pt-3 g-3 pb-3">
    <h3 class="text-center text-primary">Troverai in concessionaria da noi queste Marche d'auto</h3>
    <ul class="d-flex justify-content-evenly" >
      <li *ngFor="let marchio of marchi" class="list-unstyled">
        <img [src]="marchio" [ngStyle]="{'width': '100%'}">
      </li>
    </ul>
  </div>
  <h1 class="text-center bg-primary text-white mt-5 pt-3 pb-3">La nostra Vetrina</h1>
  <div class="row bg-info py-5">

      <div class="col-6 d-flex justify-content-center " *ngFor="let random of randomCar">
          <div class="card p-3" [ngStyle]="{'height': '100%', 'width': '70%'}" [ngClass]="{
              'bg-success': random.available,
              'bg-danger': !random.available
          }">
            <img src="{{random.modelImage}}"
            [ngStyle]="{'height': '18rem'}"
              class="card-img-top"
              alt="{{random.brand}} {{random.model}}">
              <div class="card-body">
            <h5 class="card-title text-white">{{random.brand}} {{random.model}}</h5>
            <p class="card-text">
          <span class="badge bg-warning me-1 text-dark">Anno{{random.year}}</span>
    <span class="badge bg-warning me-1 text-dark">Prezzo: € {{random.price}}</span>
     <span *ngIf="random.available; else elseSpan"
        class="badge bg-warning  text-dark">Pronta
        consegna: sì</span>

        <ng-template #elseSpan>
        <span
        class="badge bg-warning me-1 text-dark">Pronta
        consegna: no</span>
        </ng-template>
</p>
      <a [routerLink]="['/' + random.brand.toLowerCase()]" class="btn btn-primary">Tutte le nostre {{random.brand}}</a>
</div>
</div>
</div>
</div>
</div>


