
@import '../node_modules/bootstrap/scss/bootstrap.scss';
$bg-secondary :rgb(41, 36, 36);


body{
    background-color:#141414; 
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.navbar-toggler{background-color:white}

.dx-navbar{
    i{  padding-inline: 10px;
        padding:15px;
        border-radius: 20%;
    }&
    i:hover{background-color: rgb(84, 82, 82);}
}

.form-select{
    background-color: #141414;
    color: #fff;
}

.hov:hover{
    border-radius: 20%;
    background-color: rgb(84, 82, 82);}

.nav-item {
    a:hover{background-color: rgb(84, 82, 82);}
        
    }

.profile{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}   

h5{
    font-size: 0.8rem;
    color: rgb(163, 163, 163);
    @media screen and (min-width:768px) {
        font-size: 1.2rem;
    }
}

.dim{
    
    font-size: 1rem;
    gap: 40px;
    
}

.mat{
    width: 180px;
    background-color: $bg-secondary;
    font-size: 0.7rem;
    font-weight: bold;
    
}

.form-check{
    font-size: 0.8rem;
    color:  rgb(163, 163, 163);
    @media screen and (min-width:768px) {
        font-size: 1.2rem;
    }
}

.edit{text-align: start;}

.btn_under{
    display: flex;
    gap:20px;
    justify-content: center;
}
