html {
    box-sizing: border-box;
}
*,:before, *:after {
    box-sizing: inherit;
}

body{
background-color: lightcoral;
}

.barra{
    text-align: center;

}


.elemento.completed{
    background-color: green;
    text-decoration: line-through;
}